
// Colors

    //Primary
    $red:hsl(7, 99%, 70%);
    $Yellow: hsl(51, 100%, 49%);
    $footerText: hsl(198, 62%, 26%);
    $footerNav: hsl(167, 38%, 35%);
    $footer: hsl(168, 51%, 66%);

    //neutral
    $textColor1: hsl(212, 27%, 19%); //Very dark desaturated blue
    $textColor2: hsl(213, 9%, 39%); //Very dark grayish blue
    $textColor3: hsl(232, 10%, 55%); //Dark grayish blue
    $textColor4: hsl(210, 4%, 67%); //Grayish blue
    $white: hsl(0, 0%, 100%);

//Typography 

    //font
    $Barlow : 'Barlow', sans-serif;
    $Fraunces : 'Fraunces', serif;
    
    //font-weight
    $regular: 600;
    $bold: 700;
    $semibold: 900;

