
// Colors

    //Primary
    $red:hsl(7, 99%, 70%);
    $yellow: hsl(51, 100%, 49%);
    $blue:rgb(144, 207, 254);
    $footerText: rgb(89,130,115);
    $footer: rgb(166,211,197);
    $graphic:rgb(78,117,103);
 

    //neutral
 
    $textColor1: rgb(118,127,125); 
    $textColor2: rgb(160,162,164); 
    $textColor3: rgb(191,190,188); 
    $white: rgb(254,251,248);

//Typography 

    //font
    $Barlow : 'Barlow', sans-serif;
    $Fraunces : 'Fraunces', serif;
    
    //font-weight
    $regular: 600;
    $bold: 700;
    $semibold: 900;

