@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
}

a, a:link, a:visited {
  text-decoration: none;
}

h1, h3 {
  font-family: "Fraunces", serif;
}

.text-container {
  width: 70%;
}

.text-container h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.text-container p {
  color: #767f7d;
  line-height: 1.3;
  font-family: "Barlow", sans-serif;
  margin-bottom: 30px;
}

.banner {
  height: 80vh;
  min-height: 600px;
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
}

.banner .nav_toggle {
  cursor: pointer;
  display: none;
}

.banner .close {
  cursor: pointer;
  display: none;
}

.banner .close img {
  width: 20px;
}

.banner .header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.banner .header .menu {
  display: flex;
  align-items: center;
}

.banner .header .menu .nav_item {
  margin-right: 30px;
}

.banner .header .menu .nav_item a {
  color: white;
}

.banner .header .menu .contact {
  background-color: #fefbf8;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.banner .header .menu .contact a {
  color: black;
}

.banner .header .menu .contact:hover {
  background-color: #90cffe;
}

.banner .header .menu .contact:hover a {
  color: white;
}

.banner .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  flex-grow: 1;
  color: #fefbf8;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 50px;
}

.banner .main .arrow {
  margin-top: 50px;
  margin-bottom: 150px;
}

.section1, .section2 {
  display: flex;
}

.section1 .left, .section2 .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 .left .text-container .button, .section2 .left .text-container .button {
  cursor: pointer;
}

.section1 .left .text-container .button img, .section2 .left .text-container .button img {
  width: 150px;
}

.section1 .right, .section2 .right {
  flex: 1;
}

.section1 img, .section2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section2 {
  flex-direction: row-reverse;
}

.section3 {
  display: flex;
}

.section3 div {
  flex: 1;
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 500px;
}

.section3 div h1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #4e7567;
}

.section3 div p {
  text-align: center;
}

.section3 div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3 .left {
  background-image: url(images/desktop/image-graphic-design.jpg);
}

.section3 .right {
  background-image: url(images/desktop/image-photography.jpg);
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefbf8;
  padding: 50px;
}

.testimonials h1 {
  color: #a0a2a4;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
  letter-spacing: 3px;
}

.testimonials .clients {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.testimonials .clients .client {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  align-items: center;
}

.testimonials .clients .client .client-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

.testimonials .clients .client .client-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .clients .client p {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.3;
  font-family: "Barlow", sans-serif;
  color: #a0a2a4;
}

.testimonials .clients .client .details {
  text-align: center;
  margin-top: 20px;
}

.testimonials .clients .client .details h5 {
  color: #bfbebc;
  margin-top: 8px;
  font-family: "Barlow", sans-serif;
}

.gallery {
  display: flex;
}

.gallery div {
  flex: 0.25;
}

.gallery div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.footer {
  background-color: #a6d3c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer .footer-nav {
  margin-top: 30px;
  font-weight: bold;
}

.footer .footer-nav span {
  padding: 8px;
  cursor: pointer;
}

.footer .footer-nav span a {
  color: #598273;
}

.footer .footer-nav span a:hover {
  color: white;
}

.footer .social {
  margin-top: 50px;
}

.footer .social img {
  padding: 4px;
}

@media screen and (max-width: 767.98px) {
  body {
    font-size: 20px;
  }
  .banner {
    height: 60vh;
  }
  .banner .main {
    font-size: 36px;
  }
  .banner .header .menu {
    padding: 30px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    position: absolute;
    left: 5%;
    top: -100%;
    background-color: #fefbf8;
    width: 90%;
  }
  .banner .header .menu .nav_item {
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
  }
  .banner .header .menu .nav_item a {
    color: #767f7d;
  }
  .banner .header .menu .contact {
    background-color: #fad400;
  }
  .banner .header .show-menu {
    top: 80px;
  }
  .banner .nav_toggle {
    display: block;
  }
  .banner .show-close {
    display: block;
  }
  .banner .hide-toggle {
    visibility: hidden;
  }
  .section1, .section2 {
    flex-direction: column-reverse;
  }
  .section1 .left, .section2 .left {
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
  }
  .section3 {
    flex-wrap: wrap;
  }
  .section3 div {
    flex: 1;
    flex-basis: 100%;
  }
  .testimonials h1 {
    margin: 0;
  }
  .testimonials .clients {
    flex-direction: column;
    padding: 30px;
    margin-top: 0;
  }
  .testimonials .clients .client {
    margin-top: 50px;
  }
  .testimonials .clients .client p {
    color: #767f7d;
  }
  .gallery {
    flex-wrap: wrap;
  }
  .gallery div {
    flex: 0.5;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 576px) {
  .banner {
    height: 100vh;
  }
  .banner .main {
    font-size: 26px;
    letter-spacing: 2px;
  }
  .section1 h1, .section2 h1 {
    font-size: 30px;
  }
  .section1 p, .section2 p {
    font-size: 18px;
  }
  .testimonials {
    padding: 20px;
  }
  .testimonials h1 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 50px;
  }
  .testimonials .client p {
    font-size: 18px;
  }
  .testimonials .client h3 {
    font-size: 20px;
  }
  .footer {
    font-size: 18px;
  }
}

@media screen and (max-width: 318px) {
  body {
    font-size: 16px;
  }
  .banner .main {
    font-size: 20px;
  }
  .section1 h1, .section2 h1 {
    font-size: 26px;
  }
  .testimonials h1 {
    font-size: 16px;
  }
}
